%table.table.table-bordered.table-condensed.season-result-table
  %thead
    %tr
      %td Team
      %td Games
      %td Wins
      %td Loses
      %td Draws
      %td Scored
      %td Against
      %td Points
  %tbody
    -current_season.results.order_by(points: -1, scored_goals: -1).each do |r|
      %tr{class: r.games == 0 ? 'inactive' : 'active'}
        %td.team
          =image_tag r.team.image.url(:mini)
          =r.team.title
        %td.games
          =r.games
        %td.wins
          =r.wins 
        %td.loses     
          =r.loses
        %td.draws
          =r.draws
        %td.scored
          =r.scored_goals
        %td.against
          =r.against_goals
        %td.points
          =r.points