.carousel
  %h2
    Carousel here

.row-fluid
  .span4.sidebar
    .sidebar-posts
      %h3
        News
      =render partial: 'posts/posts', :locals => {posts: @last_posts, truncate_length: 300}

  .span8.content
    %h2
      Table
    .row-fluid
      .span6.c1
      .span6.c2