
.row-fluid
  .span4.sidebar
    .last-posts
      %h3
        =post_category_for_side_bar.title
      -post_category_for_side_bar.posts.limit(10).each do |post|
        .post
          .title
            =link_to post.title, post
          .content
            .image
              =link_to post do
                =image_tag post.image.url(:sidebar)
            .text
              =post.intro
              =link_to '/Read more', post
            .clearfix
          .date
            =format_date(post.created_at)

  .span8.content
    =render 'main/carousel'