
.row-fluid
  .span4.sidebar
    .last-posts
      %h3
        ბოლო სიახლეები
      -posts_for_side_bar.each do |post|
        .post
          .title
            =link_to post.title, post
          .content
            .image
              =link_to post do
                =image_tag post.image.url(:sidebar)
            .text
              =post.intro
              %br/
              =link_to '(სრულად წაკითხვა)', post
            .clearfix
          .date
            =format_date(post.created_at)

  .span8
    =render 'main/carousel'
    =render 'main/table'

    =render 'main/near_games'