%h1
  ყველა სეზონი

%ul.seasons-list
  -if @seasons
    -@seasons.each do |season|
      %li
        =link_to season do
          %h4
            =season.title

.ctrl
  =link_to "New season", new_season_path, class: ['btn', 'btn-primary', 'btn-large']