.game-form
  =form_for @game.round ? [@game.round, @game] : @game do |f|
    %fieldset
      .row-fluid
        .span6.right
          %h3
            Home
          .title
            =f.collection_select  :home_team_id, @teams, :id, :title
          .goals_number
            =f.text_field :home_goals_number, class: 'input-mini'
        .span6.left
          %h3
            Visitors
          .title
            =f.collection_select  :visitor_team_id, @teams, :id, :title
          .goals_number
            =f.text_field :visitor_goals_number, class: 'input-mini'
      .center
        =f.select :begin_date, select_model_date_range(@game.round) if @game.round
        %br/
        =f.submit :class => ['btn', 'btn-primary']
        -if @game.round
          =link_to 'Back to season', @game.round.season, class: ['btn']
