.post
  .title
    =link_to post.title, post
  .date
    =format_date(post.created_at)
  .image
    =image_tag post.image.url(image_version), class: 'img-rounded'
  %p.text
    -if defined? truncate_length
      =truncate(post.text, length: truncate_length)
      =link_to post, class: 'readmore' do
        Read more
    -else
      =post.text
  .ctrl