%h1
  -if @post.new_record?
    New post
  -else
    Edit post
    %i
      =@post.title

.row-fluid
  .span8
    =form_for @post do |f|
      %fieldset.form.post-form
        =f.label :title
        =f.text_field :title

        =f.label :key
        =f.text_field :key

        =f.label :post_category
        =f.grouped_collection_select :post_category_id, post_categories.select {|c| c.children.exists? }, :children, :title, :id, :title

        =f.label :image
        =f.file_field :image
        =f.label :remote_image_url, 'Image URL'
        =f.text_field :remote_image_url

        .images
          =image_tag @post.image.url
          =image_tag @post.image.url(:sidebar)

        =f.label :text
        =f.text_area :text

      =f.label :allow_comments do
        =f.check_box :allow_comments
        Allow comments
      =f.label :replace_line_brakes do
        =f.check_box :replace_line_brakes
        Replace line brakes with
        ="<br/>"




      =f.submit 'Save', class: ['btn', 'btn-primary', 'btn-large']
      =link_to 'Delete', @post, :method => :delete, :confirm => 'Are you sure?', class: ['btn', 'btn-danger', 'btn-large'] unless @post.new_record?