%h1
  -if @post.new_record?
    ახალი პოსტი
  -else
    პოსტის რედაქტირება
    %i
      =@post.title

.row-fluid
  .span8
    =form_for @post do |f|
      %fieldset.form.post-form
        =f.label :title, 'სათაური'
        =f.text_field :title

        =f.label :new_key,'გასაღები (არაა სავალდებულო)'
        =f.text_field :new_key

        =f.label :post_category, 'კატეგორია'
        =f.grouped_collection_select :post_category_id, post_categories.select {|c| c.children.exists? }, :children, :title, :id, :title

        =f.label :image, 'სურათი ატვირთვა'
        =f.file_field :image
        =f.label :remote_image_url, 'სურათის URL'
        =f.text_field :remote_image_url

        .images
          =image_tag @post.image.url
          =image_tag @post.image.url(:sidebar)

        =f.label :text, 'ტექსტი'
        =f.text_area :text

      =f.label :allow_comments do
        =f.check_box :allow_comments
        კომენტარიები
      =f.label :replace_line_brakes do
        =f.check_box :replace_line_brakes
        Replace line brakes with
        ="<br/>"




      =f.submit 'შენახვა', class: ['btn', 'btn-primary', 'btn-large']
      =link_to 'წაშლა', @post, :method => :delete, :confirm => 'Are you sure?', class: ['btn', 'btn-danger', 'btn-large'] unless @post.new_record?