%h1
  New post

.row-fluid
  .span8
    =form_for @post do |f|
      %fieldset.form.post-form
        =f.label :title
        =f.text_field :title

        =f.label :image
        =f.file_field :image
        =f.label :remote_image_url, 'Image URL'
        =f.text_field :remote_image_url

        .images
          =image_tag @post.image.url
          =image_tag @post.image.url(:feed)
          =image_tag @post.image.url(:sidebar)

        =f.label :text
        =f.text_area :text

      =f.submit 'Save', class: ['btn', 'btn-primary', 'btn-large']