.row-fluid
  .span8
    .post-page
      .post
        .title
          =@post.title
          -if signed_in_user_has_admin_permissions?
            [
            =link_to edit_post_path(@post) do
              Edit
            ]
        .content
          -if @post.image
            .image
              =image_tag @post.image.url
          .text
            =@post.html

        .ctrl
          -if signed_in_user_has_admin_permissions?
            =link_to edit_post_path(@post), class: ['btn', 'btn-warning'] do
              Edit Post

        .date
          =format_date(@post.created_at)

      -if @post.allow_comments?
        .comment-block
          %h3
            Comments

          -if user_signed_in? && @post.comments.count > 10
            =render 'comments/form', :object => @post

          .comments
            =render @post.comments

            -if user_signed_in?
              =render 'comments/form', :object => @post