.row-fluid
  .span8
    .post-page
      .post
        .title
          =@post.title
        .content
          -if @post.image
            .image
              =image_tag @post.image.url
          .text
            =@post.text
        .date
          =format_date(@post.created_at)

        .ctrl
          =link_to edit_post_path(@post), class: ['btn', 'btn-warning'] do
            Edit Post

      .comment-block
        %h3
          Comments

        =render 'comments/form'

        .comments
          =render @post.comments

        =render 'comments/form'