.row-fluid
  .span8.content
    .post-page
      .post
        .title
          =link_to @post.title, @post
        .date
          =format_date(@post.created_at)

        .image
          =image_tag @post.image.url, class: 'img-rounded'
        %p.text
          =@post.text

        .ctrl
          =link_to 'Edit', edit_post_path(@post), class: ['btn', 'btn-warning', 'btn-mini']
          =link_to 'Delete', @post, :method => :delete, :confirm => "Are yu sure?", class: ['btn', 'btn-danger', 'btn-mini']


      -#=link_to 'Edit', edit_post_path(@post), class: ['btn', 'btn-warning', 'btn-large']
      -#=link_to 'Delete', @post, :method => :delete, :confirm => "Are yu sure?", class: ['btn', 'btn-danger', 'btn-large']

      .comments
        %h3
          Comments
        =form_for([@post, @comment]) do |f|
          %fieldset.comment-form
            =f.text_area :text
          =f.submit 'Send', class: ['btn', 'btn-primary']

        -@post.comments.each do |comment|
          .row-fluid.comment{:id=>comment.id}
            .span3.userinfo
              .image
                =image_tag comment.user.image, class: 'img-rounded'

              .name
                =comment.user.first_name
                =comment.user.last_name

              .date
                =time_ago_in_words comment.created_at, include_seconds: true
                ago
              .clearfix

            .span9
              %p.text
                =comment.text


  .span4.sidebar