$pageBgColor: #002557;

$masterBgColor: #FFFFFF;
$masterBorderColor: darken($masterBgColor, 40%);
$masterShadowColor: rgba(#000000, 0.8);

body {
  background-color: $pageBgColor;
}

.master-container {
  margin-top: 20px;

  .master-container-inner {
    padding: 20px;

    background-color: $masterBgColor;

    border: 1px solid $masterBorderColor;
    border-radius: 10px;
    box-shadow: 0 0 20px $masterShadowColor;

    min-height: 200px;
  }
}

.standard-form {
  input, textarea {
    width: 100%;
  }

  textarea {
    height: 30em;
  }
}

h1 {
  font-size: 2.2em;
  font-weight: bold;

  // TODO : Put into varible
  color: #004fd1
}

h2 {

  font-size: 1.8em;
  font-weight: bold;

  // TODO : Put into varible
  color: #003fa6
}

h3 {

  font-size: 1.4em;
  font-weight: bold;

  // TODO : Put into varible
  color: #002557;
}