@import "varibles.css.scss";

.main-nav-bar {
  .user-link {

    .avatar {
      display: inline-block;

      width: 20px;
      height: 20px;
    }
  }
}

#logo {

}

#logo-text {
  font-size: 3em;
  font-weight: bold;

  color: white;

  text-align: left;
  vertical-align: middle;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: $page-color;
  font: $general-font;
}

.master-container {
  margin-top: 20px;

  .master-container-inner {
    @include block;
    min-height: 200px;
  }

  .footer {
    margin-top: 10px;
    min-height: 100px;

    font: $small-font;
    color: $block-color;
  }
}

