// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel {
  height: 200px;
  background-color: cornflowerblue;
}

.news {
  background-color: aquamarine;
  min-height: 200px;
}

.content {
  background-color: beige;
  min-height: 300px;

  .c1 {
    background-color: cornflowerblue;
    min-height: 100px;
  }
  .c2 {
    background-color: darkslateblue;
    min-height: 120px;
  }
}