@import "varibles.css.scss";

#myCarousel {
  &, .item, img, .carousel-caption { border-radius: $item-boreder-radius; }

  .item {
    height: 450px;

    .carousel-caption {
      padding: 20px;
      height: 130px;

      p {
        overflow: hidden;
      }

      border-top-left-radius: 0;
      border-top-right-radius: 0;

      text-align: left;

    }
  }
}

.season-result-table {
  thead {
    tr {
      font-weight: bold;
      color: $block-color;

      background-color: $block-shadow-color;
    }
  }  

  tbody {
    tr.inactive {
      color: $color6;
    } 

    tr.active {
      .team {

      }   

      .wins, .scored {
        background-color: #DDFFDD;
      }

      .loses, .against {
        background-color: #FFDDDD;
      }

      .points {
        background-color: #DDDDFF;
      }
    }
  }
}
