.carousel {
  height: 200px;
  background-color: cornflowerblue;
}

.sidebar {
  //background-color: aquamarine;
}

.sidebar-posts {
  .posts {
    .post {
      $imageWidth: 80px;
      $imageHeight: 80px;

      font-size: 0.85em;
      line-height: 1.2em;

      // TODO: Put into varible
      border-bottom: 1px solid #8c8c8c;

      .title {
        padding-top: 10px;
        font-weight: bold;
        margin: 0 0 4px 0;
      }

      .image {
        position: relative;
        width: $imageWidth;
        height: $imageHeight;
        float: left;

        background-color: burlywood;
      }

      .text {
        margin: 0 0 5px $imageWidth + 10px;
        min-height: $imageHeight;

        text-indent: 1em;
      }

      .ctrl {
        clear: both;
        text-align: right;
        .date {
          // TODO : Put into varible
          color: #8c8c8c;
        }

        .readmore {

        }
      }
    }
  }
}
