@import "varibles.css.scss";

#myCarousel {
  &, .item, img, .carousel-caption { border-radius: $item-boreder-radius; }

  .item {
    background-color: red;

    .carousel-caption {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}