@import "varibles.css.scss";

.post-page {
  .post {
    .title {
      font: $title-1-font;
    }

    .content {
      .image {
        img {
          border-radius: $item-boreder-radius;
          box-shadow: $box-shadow;
        }
      }

      .text {
        //text-indent: 1em;
      }
    }

    .date {
      text-align: right;

      font: $title-4-font;
      font-style: italic;
    }

    .ctrl {
      text-align: right;

      border-top: $block-border;
      padding-top: 5px;
    }

    .image, .text, .date, .ctrl {
      margin-top: 20px;
    }
  }

  .comment-block {
    margin-top: 20px;

    .comments {
      margin: 20px 0 20px 0;

      .comment {
        padding: 10px 0 10px 0;
        border-top: $block-border;

        .text {
          //background-color: beige;
          min-height: $avatar-height;
          padding-left: 10px;
          border-left: $block-border;
        }
      }
    }
  }
}