@import "varibles.css.scss";

.post-page, .posts-list {
  .post {
    border-bottom: $block-border;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .title {
      font: $title-1-font;
    }

    .content {
      margin: 10px 0 10px 0;
      .image {
        img {
          border-radius: $item-boreder-radius;
          box-shadow: $box-shadow;
        }
      }

      .text {
        padding-top: 20px;
      }
    }

    .date {
      text-align: right;

      font: $title-4-font;
      font-style: italic;
    }
  }

  .comment-block {
    margin-top: 20px;

    .comments {
      margin: 20px 0 20px 0;

      .comment {
        padding: 10px 0 10px 0;
        border-top: $block-border;

        .text {
          //background-color: beige;
          min-height: $avatar-height;
          padding-left: 10px;
          border-left: $block-border;
        }
      }
    }
  }
}

//.posts-list {
//  .post {
//    border-bottom: $block-border;
//    margin: 1em 0 1em 0;
//
//    .title {
//      margin-bottom: 20px;
//
//      font-size: 1.1em;
//      font-weight: bold;
//
//      text-shadow: $text-shadow;
//    }
//
//    .content {
//      .image {
//        margin-bottom: 20px;
//
//        img {
//          border-radius: $item-boreder-radius;
//          box-shadow: $box-shadow;
//        }
//      }
//
//      .text {
//        //text-indent: 1em;
//        margin-bottom: 0.4em;
//      }
//    }
//
//    .date {
//      text-align: right;
//
//      font-style: italic;
//
//      color: $color2;
//    }
//  }
//}

.post-form {
  input, textarea, .images {
    display: block;
    width: 100%;
  }

  textarea {
    height: 20em;
  }

  label {
    margin-top: 20px;
  }

  .images {
    border: $block-border;
    border-radius: $item-boreder-radius;
    padding: 20px;
  }
}