@import "varibles.css.scss";

.user-card {
  .image {
    position: relative;
    float: left;

    margin-right: 5px;

    width: $avatar-width;
    height: $avatar-height;

    img {
      border-radius: $item-boreder-radius;
      box-shadow: $box-shadow;
    }
  }
  .name {
    display: inline-block;
  }

  .content {
    font: $small-font;
  }
}