.footer
  &copy;
  =link_to 'Nuclight.org', 'http://nuclight.org'
  (2013-2014)
  .couinters
    %script{:language => "JavaScript", :src => "http://counter.top.ge/cgi-bin/cod?100+91281", :type => "text/javascript"}
    %noscript
      %a{:href => "http://counter.top.ge/cgi-bin/showtop?91281", :target => "_top"}
        %img{:alt => "TOP.GE", :border => "0", :src => "http://counter.top.ge/cgi-bin/count?ID:91281+JS:false"}/