.navbar.navbar-fixed-top.main-nav-bar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      =link_to root_path, class: 'brand' do
        Home

      .nav-collapse.collapse
        %ul.nav
          %li
            =link_to 'New post', new_post_path
          %li
            =link_to 'Last posts', posts_path

        %ul.nav.pull-right
          -if user_signed_in?
            %li
              =link_to signed_in_user.oauth['facebook']['info']['urls']['Facebook'] do
                =signed_in_user.nickname
            %li
              =link_to 'Logout', signout_path, :method => :delete
          -else
            %li
              =link_to '/auth/facebook' do
                Facebook