.navbar.navbar-fixed-top.main-nav-bar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      =link_to root_path, class: 'brand' do
        მთავარი

      .nav-collapse.collapse
        %ul.nav
          -post_categories.select(& lambda {|c| c.children.exists? }).each do |category|
            -if category.children.exists?
              %li.dropdown
                %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                  =category.title
                  %b.caret
                %ul.dropdown-menu
                  -category.children.each do |sub_category|
                    %li
                      =link_to sub_category.title, category_path_ex(sub_category)
            -else
              %li
                =link_to category.title, posts_path(:post_category => category.id)


          -if signed_in_user_has_admin_permissions?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                ადმინ პანელი
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'ახალი პოსტი', new_post_path
                %li
                  =link_to 'კატეგორიები', post_categories_path
                
                -if current_season
                  %li
                    =link_to current_season.title, current_season
                -else
                  %li
                    =link_to 'ჩემპიონატები', seasons_path

                -#%li
                -#  =link_to 'გუნდები', teams_path
                -#%li
                -#  =link_to 'Users', users_path



        %ul.nav.pull-right
          %li.divider-vertical
          -if user_signed_in?
            %li
              .btn-group
                =link_to signed_in_user.urls['facebook'], class: %w(btn user-link) do
                  .avatar
                    =image_tag signed_in_user.image, class: 'img-rounded'
                  =signed_in_user.nick

                =link_to signout_path, :method => :delete, class: %w(btn btn-primary) do
                  გასვლა
          -else
            %li
              =render 'layouts/social_login'
          %li.divider-vertical