.navbar.navbar-fixed-top.main-nav-bar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data=>{:toggle=>"collapse", :target=>".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      =link_to root_path, class: 'brand' do
        =t('nav.home');

      .nav-collapse.collapse
        %ul.nav
          -post_categories.select(& lambda {|c| c.children.exists? }).each do |category|
            -if category.children.exists?
              %li.dropdown
                %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                  =category.title
                  %b.caret
                %ul.dropdown-menu
                  -category.children.each do |sub_category|
                    %li
                      =link_to sub_category.title, category_path_ex(sub_category)
            -else
              %li
                =link_to category.title, posts_path(:post_category => category.id)


          -if signed_in_user_has_admin_permissions?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                Admin
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'New post', new_post_path
                %li
                  =link_to 'Categories', post_categories_path
                %li
                  =link_to 'Seasons', seasons_path
                %li
                  =link_to 'Teams', teams_path



        %ul.nav.pull-right
          -if user_signed_in?
            %li
              =link_to signed_in_user.urls['facebook'] do
                =signed_in_user.nickname
            %li
              =link_to 'Logout', signout_path, :method => :delete
          -else
            %li
              =link_to '/auth/facebook' do
                Facebook